html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.appClass {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.home {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 25px auto;
  width: 500px;
}

.right {
  background: lightgreen;
  float: left;
  padding: 10px;
  width: 250px;
}

.wrong {
  background: rgb(255, 174, 174);
  float: right;
  padding: 10px;
  width: 250px;
}