html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

body {
  background-size: cover;
}

.curtis-btn {
  display: block;
  margin: 8px auto;
  width: 200px; 
}

.curtis-text {
  background: darkgray;
  border-top: 1px solid black;
  color: #000;
  font-size: 12px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 8px 50px;
}

.getHintBtn {
  font-size: 12px;
  margin: 10px auto;
  width: 75px;
}

.home {
  background: rgb(242, 242, 242);
  border: 4px double;
  height: 100%;
  margin: 35px auto;
  width: 500px;
}

.logo {
  display: inline-block;
  height: 35px; 
  margin-right: 10px;
}

.mainSection {
  min-height: 170px;
}

.mainTitle {
  background: rgb(94, 94, 94);
  border-bottom: 1px solid black;
  color: white;
  line-height: 1.0;
  margin-bottom: 0px;
  padding: 5px;
  text-align: left;
}

.message {
  background: #c4c4c4;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  font-size: 15px;
  padding: 10px;
}

.playAgainBtn {
  display: block;
  margin: 25px auto;
  margin-bottom: 10px;
  width: 200px;
}

.prevCorrect-true {
  background: rgb(127, 240, 127);
  border-bottom: 1px solid darkgreen;
  border-top: 1px solid darkgreen;
}

.prevCorrect-false {
  background: rgb(247, 53, 53);
  border-bottom: 1px solid darkred;
  border-top: 1px solid darkred;
}

.reviewBtn {
  margin: 0px auto;
  margin-bottom: 25px;
  width: 200px;
}

.reviewContainer {
  font-size: 12px;
  margin-top: 25px;
  max-height: 400px;
  overflow-y: scroll;
}

.reviewContainer::-webkit-scrollbar { 
  width: 5px !important 
}

.right {
  display: block;
}

.rightLabel {
  font-size: 16px;
}

.rightWords {
  background: lightgreen;
  color: darkgreen;
  float: left;
  height: auto;
  padding: 15px;
  width: 150px;
}

.selectUnit {
  background: rgb(91, 91, 91);
  border-radius: 4px;
  color: white;
  float: right;
  font-size: 14px;
  margin-top: 3px;
  padding: 3px;
  width: 80px;
}

.wrong {
  display: block;
}

.wrongLabel {
  font-size: 16px;
}

.wrongWords {
  background: rgb(255, 99, 99);
  color: darkred;
  float: right;
  height: auto;
  padding: 15px;
  width: 150px;
}

@media only screen and (max-width: 520px) {
  .changeSentenceBtn {
    display: block;
    float: none;
    margin: 10px auto;
    margin-bottom: 0px;
  }

  .home {
    width: auto;
  }

  .imageInput {
    width: 300px;
  }

  .speakIcon {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .imageInput {
    width: 200px;
  }
}
