html {
  height: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.getHintBtn {
  font-size: 12px;
  margin: 10px auto;
  width: 75px;
}

.hintContainer {
  background: #d3d3d3; 
}

.home {
  background: rgb(242, 242, 242);
  border: 2px solid rgb(141, 141, 141);
  border-radius: 4px;
  margin: 35px auto;
  width: 500px;
}

.mainSection {
  min-height: 170px;
}

.message {
  background: darkgray;
  font-size: 15px;
  padding: 10px;
}

.playAgainBtn {
  margin-top: 50px;
  width: 200px;
}

.prevCorrect-true {
  background: rgb(85, 214, 85);
}

.prevCorrect-false {
  background: rgb(247, 53, 53);
}

.right, 
.wrong {
  font-size: 13px;
  padding: 10px;
  width: 250px;
}

.right {
  background: lightgreen;
  border-bottom-left-radius: 4px;
  float: left;
}

.rightLabel {
  color: darkgreen;
}

.wrong {
  background: rgb(255, 174, 174);
  border-bottom-right-radius: 4px;
  float: right;
}

.wrongLabel {
  color: darkred;
}

.rightLabel, 
.wrongLabel {
  font-size: 11px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 520px) {
  .changeSentenceBtn {
    display: block;
    float: none;
    margin: 10px auto;
    margin-bottom: 0px;
  }

  .home {
    width: 350px;
  }

  .imageInput {
    width: 300px;
  }

  .speakIcon {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .home {
    width: 300px;
  }

  .imageInput {
    width: 200px;
  }
}
