.speakIcon {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 350px;
}

.word {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.wordContainer {
    background: lightgray;
    padding: 15px;
    width: 100%;
}