.bookIcon {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 40px;
    top: 10px;
}

.counter {
    bottom: 0;
    color: black;
    font-size: 13px;
    left: 10px;
    position: absolute;
    top: 10px;
}

.speakIcon {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.word {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.wordContainer {
    background: lightgray;
    padding: 15px;
    position: relative;
    width: 100%;
}
