.cancelImageBtn,
.saveImageBtn {
    float: right;
    font-size: 12px;
}

.changeImageBtn {
    background: rgb(61, 61, 61);
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 200px;
    left: 50%;
    margin-top: 3px;
    opacity: 0.8;
    padding-top: 75px;
    position: absolute;
    transform: translate(-50%);
    width: 250px;
}

.image {
    border: 3px solid black;
    color: black;
    height: 200px;
    margin: 5px auto;
    width: 250px;
}

.imageInput {
    font-size: 13px;
    width: 300px;
}

.imageModal {
    margin-top: 15px;
}
