.cancelSentenceBtn,
.saveSentenceBtn {
    display: inline-block;
    font-size: 12px;
}

.changeSentenceBtn {
    display: block;
    font-size: 12px;
    margin: 5px auto 0px auto;
}

.saveSentenceBtn {
    margin-right: 3px;
}

.sentence {
    color: black;
    font-size: 13px;
    height: auto;
    margin-top: 10px;
    max-width: 600px;
    min-height: 50px;
    padding: 10px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}

.sentenceContainer {
    background: lightgray;
    /* display: flex; */
    /* padding: 10px; */
}

.sentenceInput {
    font-size: 12px;
}

.sentenceLabel {
    font-size: 12px;
    margin-right: 10px;
}
