.cancelSentenceBtn,
.saveSentenceBtn {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 3px;
}

.changeSentenceBtn {
    display: block;
    font-size: 12px;
    margin: 10px auto 0px auto;
    width: 75px;
}

.saveSentenceBtn {
    margin-right: 3px;
}

.sentence {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    color: black;
    font-size: 13px;
    height: auto;
    max-width: 600px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.sentenceContainer {
    background: rgb(242, 242, 242);
    /* display: flex; */
    /* padding: 10px; */
}

.sentenceInput {
    font-size: 12px;
}

.sentenceLabel {
    font-size: 12px;
    margin-right: 10px;
}
